@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@500&display=swap');

body {
    background-color: #F1FAEE;
    color: #1E1E1E;
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 2rem;
    text-align: center;
    text-align: center;
}

.heading {
    font-family: Pacifico, sans-serif;
    font-size: 4rem;
    margin: 0;
    display: inline;
}

/* first page */
#heading-one {
    font-size: 5rem;
}

.score-block {
    display: block;
}

.score-block p{
    display: inline;
    padding-left: 2rem;
}

#player-1-score {
    color: rgb(230,57,70);
}

#player-2-score {
    color: rgb(24, 26, 153);
}

.player-name {
    margin: 0 auto;
    margin-bottom: 2rem;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    width: 200px;
}

#player-one-input{
    color: rgb(230,57,70);
}

#player-two-input {
    color:rgb(24, 26, 153);
}

.buttons {
    text-decoration: none;
    margin-top: 2rem;
    font-size: 2rem;
    padding: 1rem;
    background-color: #2778C4;
    color: #ffffff;
    border: none;
}

.buttons:hover{
    background-color: #235e96;
    transform: scale(1.1);
}


#start-game a{
    text-decoration: none;
    color: #ffffff;
}

/* game page */
#player-go {
    margin: 0;
    font-size: 2rem;
    color: rgb(230,57,70);
}

.canvas {
    display: grid;
    width: 95vw;
    height: 75vw;
    margin: 0 auto;
    background-color: #7dc6c9;
    border: 3px solid #A8DADC; 
    max-width: 770px;
    max-height: 660px;
}

.chip {
    border: 5px solid #A8DADC;
    border-radius: 50%;
    background-color:  #ffffff;
}

#reset-game {
    margin: 0 auto;
    margin-top: 2rem;
    width: 10rem;
    text-align: center;
}

@media only screen and (min-width: 440px) {
    .score-block {
        display: inline;
    }

    .score-block p {
        display: inline;
        padding-left: 2rem;
    }
  }