@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@500&display=swap');

body {
    background-color: #F1FAEE;
    color: #1E1E1E;
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 2rem;
    text-align: center;
    text-align: center;
}

.heading {
    font-family: Pacifico, sans-serif;
    font-size: 4rem;
    margin: 0;
}

/* first page */
#heading-one {
    font-size: 5rem;
}

.player-name {
    margin: 0 auto;
    margin-bottom: 2rem;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    width: 200px;
}

#player-one-input{
    color: rgb(230,57,70);
}

#player-two-input {
    color:rgb(29,53,87);
}

#start-game {
    margin-top: 2rem;
    color: #ffffff;
    font-size: 2rem;
    padding: 1rem;
    background-color: #2778C4;
    border: none;
}

/* game page */
#player-go {
    margin: 0;
    font-size: 2rem;
}

.canvas {
    display: grid;
    width: 95vw;
    height: 75vw;
    margin: 0 auto;
    background-color: #7dc6c9;
    border: 3px solid #A8DADC; 

    max-width: 770px;
    max-height: 660px;
}

.chip {
    width: 14%;
    height: 14%;
    border: 5px solid #A8DADC;
    border-radius: 50%;
    background-color: #F1FAEE;
}

.reset {
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1rem;
    width: 10rem;
    text-align: center;
    color: #ffffff;
    background-color: #2778C4;
}
