@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@500&display=swap');

body {
    background-color: #F1FAEE;
    color: #1E1E1E;
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 2rem;
    text-align: center;
    text-align: center;
}

#heading {
    font-family: Pacifico, sans-serif;
    font-size: 4rem;
    margin: 0;
}

.player-go {
    margin: 0;
    font-size: 2rem;
}


.canvas {
    display: grid;
    width: 770px;
    height: 660px;
    margin: 0 auto;
    background-color: #A8DADC;
}

.chip {
    width: 14%;
    height: 14%;
    border: 5px solid #A8DADC;
    border-radius: 50%;
    background-color: #F1FAEE;
}

.reset {
    text-align: center;
    position: absolute;
    float: left;
    margin-left: 5%;
    color: white;
    background-color: #2778C4;
    padding: 1rem;
}